*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
 .nav-container{
   
    width: 100%;
    height:100vh;
    background-position: 50% 50%;
    background-image: url(/gridhaqida.jpeg);
    
} 
.banner{
    justify-content: space-between;
    display: flex;
    margin: 0px auto;
    width: 90%;
   
} 
 .banner a{
    font-size: 25px;
    color: #fff;
    margin: 0px 20px;
} 
 .logo{
    text-shadow:4px 4px 14px#ff1a12 ;
    font-size: 40px;
    background:linear-gradient(-65deg, #ff1a12, #ff733a) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
} 
.header{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
 .sup-text{
    font-size: 30px;
    line-height: 1.2rem;
    font-weight: 400;
    margin-top: 10px;
    color: #fff;
    text-shadow:4px 4px 14px   #ffa ;
} 
 .big-text{
    font-size: 50px;
    background:linear-gradient(-65deg, #ff1a12, #ff733a) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:4px 4px 14px   #ff733a ;
} 
 .header-btn{
    border: none;
    border-radius: 100px;
    width: 180px;
    height: 50px;
    font-size: 15px;
     transition: 1.5s; 
} 
 .header-btn:hover{
    color: #fff;
    background:linear-gradient(-65deg, #ff1a12, #ff733a) ;
} 
 @media  screen and (max-width:900px) {
    .nav-links{
        display: none;
       
    }
    .sup-text{
        font-size: 20px;
    }
    .big-text{
        font-size: 40px;
    }
} 
 @media  screen and (max-width:600px) {
    .nav-links{
        display: none;
       
    }
    .sup-text{
        font-size: 20px;
    }
    .big-text{
        font-size: 30px;
    }
} 
 footer{
    margin-top: -47px;
    width: 100%;
    padding: 50px;
    background: #000;
    color: #fff;
    text-align: center;
}
footer h2{
    line-height: 30px;
    font-size: 20px;
}
 